.checkbox {
  position: relative;

  width: 1.5rem;
  height: 1.5rem;

  padding: 0.2rem;
}

.checkbox input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.checkMark {
  width: 100%;
  height: 100%;

  padding: 0.187rem;
  border-radius: 999px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color .2s;
}

.checkbox input:checked ~ .checkMark {
  background-color: var(--purple-dark);
}

.checkbox input:checked:hover ~ .checkMark {
  background-color: var(--purple);
}

.checkbox input:checked ~ .checkMark svg {
  display: block;

  width: 100%;
  height: 100%;
}

.checkbox input:not(:checked) ~ .checkMark {
  background-color: transparent;
  border: 2px solid var(--blue);
}

.checkbox input:not(:checked):hover ~ .checkMark {
  background-color: var(--blue-dark);
}

.checkbox input:not(:checked) ~ .checkMark svg {
  display: none;
}