.container {
  width: 100%;
  max-width: 736px;

  margin-right: auto;
  margin-left: auto;

  /* Relative input */
  /* 16px of padding - 16px/2 of font-size - half line height */
  margin-top: calc(0px - 1.5rem - .25rem);
}

.form {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.tasks {
  margin-top: 4rem;
  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tasks .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks .info > div {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.tasks .info .created {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--blue);
}

.tasks .info .done {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--purple);
}

.tasks .info .counter {
  background-color: var(--gray-400);
  padding: 0.125rem 0.5rem;

  font-size: 0.75rem;
  font-weight: 700;
  color: var(--gray-200);

  border-radius: 999px;
}

.tasks .empty {
  padding: 4rem 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.tasks .empty img {
  width: 56px;
}

.tasks .empty p {
  font-size: 1rem;
  line-height: 1.4;
  color: var(--gray-300);
  text-align: center;
}

.tasks .empty p > strong {
  display: block;
  font-weight: 700;
}

.tasks .empty p > span {
  display: block;
}

.tasks .list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

@media (max-width: 736px) {
  html {
    font-size: 85%;
  }

  .container {
    padding: 0px 1rem;
  }
}