.container {
  width: 100%;
  max-width: 736px;

  margin-right: auto;
  margin-left: auto;

  /* Relative input */
  /* 16px of padding - 16px/2 of font-size - half line height */
  margin-top: calc(0px - 1.5rem - .25rem);
}

.form {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.form .submit {
  border: none;
  border-radius: 8px;
  outline: none;

  background-color: var(--blue-dark);

  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--gray-100);

  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 1rem;

  cursor: pointer;

  transition: background-color .2s;
}

.form .submit:hover {
  background-color: var(--blue);
}